<%- include('partials/header') %>
<!-- Content-->
<h1>List Location Complaint</h1>
    <a href="/administrations/addAdministration"><button>Add Location</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>Location Complaint</th>
                <th>Address</th>
                <th>List Location Complaint</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(e => { %>
                <tr>
                    <td><%= e.complaintLocation %></td>
                    <td><%= e.address %></td>
                    <td>
                        <a href="/administrations/<%= e.id %>/listComplaint"><button>See Tours</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('partials/footer') %> 