<%- include('partials/header') %>
<!-- Content-->
<div class="container">
<h2 class="text-center">List Complaint</h2>
    <a href="/complaints/addComplaint"><button>Add Location Complaint</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>Complaint</th>
                <th>Date</th>
                <th>Location Complaint</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(e => { %>
                <tr>
                    <td><%= e.complaint_description %></td>
                    <td><%= getDate(e.date) %></td>
                    <td><%= e.Administration.complaintLocation %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('partials/footer') %> 