<%- include('partials/header') %>
<!-- Content-->
<div class="container">
<h2 class="text-center">List Complaint</h2>
    <a href="/users/addUser"><button>Add User</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>E-mail Address</th>
                <th>Complaint</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <% data.forEach(e => { %>
                <tr>
                    <td><%= e.getFullName() %></td>
                    <td><%= e.userName %></td>
                    <td><%= e.gmail %></td>
                    <td>
                        <ul>
                            <% e.Complaints.forEach(e => { %>
                                <li>
                                    <p><%= e.complaint_description %></p>
                                </li>
                            <% }) %>
                        </ul>
                    </td>
                    <td>
                        <a href="/users/<%= e.id %>/complaint"><button>Add Complaint</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('partials/footer') %> 